body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#01161E;
    background-size:16px 16px;
    color: #EFF6E0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    padding-top: 105px;
}
.center {
    padding-top: 4rem;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
.center h1, .center h2 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: .5rem;
    margin-bottom: 3rem;
}
.main-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #01161E;
    border-bottom: 2px solid #EFF6E0;
}
header a {
    color: #EFF6E0;
    text-decoration: none;
}
.logo {
    font-family: Kanit;
    font-size: 3rem;
    color: #EFF6E0;
    letter-spacing: 2px;
    grid-column: 1;
    background-color: #01161E;
    margin: 1rem;
    padding: 0 1rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 1rem;
    border: 2px solid #EFF6E0;
    border-radius: 15px;
    /* text-shadow: 0 0 3px #598392; */
}
.logo:hover {
    cursor: pointer;
    background: linear-gradient(130deg, #01161E, #124559);
}
.mainnav {
    grid-column: 4;
    justify-self: flex-end;
    align-self: center;
    position: relative;
    right: 3.4rem;
}
.mainnav ul, .smallnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.mainnav li, .smallnav li {
    background-color: #01161E;
    border: 2px solid #EFF6E0;
    margin: .3rem 0;
    padding: .2rem .5rem;
    border-radius: 10px;
    width: 100%;
}
.mainnav li:hover, .smallnav li:hover {
    background: linear-gradient(130deg, #01161E, #124559);
}
.mainnav li:hover ul, .smallnav li:hover ul {
    display: block;
}
.mainnav ul ul, .smallnav ul ul {
    position: absolute;
    margin-top: .3rem;
    transform: translate(-0.3rem, 0);
    display: none;
}
.smallnav ul ul {
    transform: translate(-0.5rem, 0);
}
.mainnav ul ul li {
    border-radius: 10px;
}
.mainnav ul ul li:hover, .smallnav ul ul li:hover {
    background-color: #124559;
    cursor: pointer;
}
.mainnav ul ul a {
    font-weight: 300;
    font-size: 1.5rem;
}
.mainnav a{
    color: #EFF6E0;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.7rem;
}
.smallnav {
    display: none;
    z-index: 5;
}
.sn-initials {
    font-family: Kanit;
}
.smallnav-overlay {
    position: absolute;
    display: none;
    min-height: 3000px;
    height: 100%;
    width: 100%;
    background: linear-gradient(130deg, rgb(1, 22, 30), rgb(18, 69, 89));
    opacity: .8;
    z-index: 1;
}
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-bottom: 2px solid #EFF6E0;
}

.banner-mob {
    display: none;
}

#about {
    text-align: left;
    padding-bottom: 2rem;
    border-bottom: 10px solid #598392;
}
.about img {
    max-width: 16rem;
    max-height: 100%;
    float: right;
    margin: 0 0 2rem 2rem;
    border: 2px solid #EFF6E0;
    border-radius: 60% 40% 33% 67% / 23% 30% 70% 77%;
}
.about p {
    line-height: 1.5;
}
.projects {
    padding-bottom: 2rem;
    border-bottom: 10px solid #598392;
}
.card-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    height: 400px;
    width: 300px;
    margin: 2rem;
    box-shadow: 5px 5px 10px #EFF6E0;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.card-img {
    width: 100%;
    transition: .5s;
}
.card-intro {
    height: 140px;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(27, 27, 27, .7);
    color: #EFF6E0;
    transition: .5s;
}
.card-title {
    margin: 10px;
    font-size: 1.5rem;
}
.card-info {
    margin: 20px;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
}
.card:hover {
    cursor: pointer;
}
.card:hover .card-intro {
    height: 180px;
    bottom: 0;
    background: black;
}
.card:hover .card-info {
    opacity: 1;
    visibility: visible;
}
.card:hover .card-img {
    transform: scale(1.1) rotate(-3deg);
}
.contact {
    background: linear-gradient(130deg, #01161E, #124559);
    padding: 1rem;
    border: 2px solid #EFF6E0;
    border-radius: 20px;
    margin: 5rem auto;
    width: 70%;
}
.contact .con-phone, .contact .con-email {
    font-size: 2rem;
}
.main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #01161E;
    border-top: 2px solid #EFF6E0;
    background: linear-gradient(130deg, #01161E, #124559);
}
.main-footer .copyright {
    grid-column: 1;
    font-size: 1rem;
    padding-left: 15%;
}
.main-footer .copyright h3 {
    font-family: Kanit;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin: .5rem 0;
    color: #EFF6E0;
    width: fit-content;
}
.main-footer .copyright h3:hover {
    transform: scale(1.1);
}
.main-footer .copyright a {
    text-decoration: none;
}
.main-footer .copyright p {
    margin: .5rem 0;
}
.main-footer .socials {
    grid-column: 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.main-footer .socials img {
    width: 2.5rem;
    box-shadow: 0 0 3rem #01161E;
    border-radius: 50%;
    margin-left: 2rem;
    position: relative;
    right: 3rem;
}
.main-footer .socials img:hover {
    transform: scale(1.1);
}


@media (max-width: 720px) {
    body {
        padding-top: 85px;
    }
    .center {
        padding-top: 3rem;
    }
    .center h2 {
        font-size: 1.8rem;
    }
    .logo {
        font-size: 2rem;
    }
    .mainnav .menu-title {
        font-size: 1.7rem;
    }
    .mainnav ul ul {
        transform: translate(-1.25rem, 0);
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about p {
        text-align: center;
    }
    .contact .con-email, .contact .con-phone {
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
    .logo, .mainnav {
        display: none;
    }
    .smallnav {
        display: block;
        grid-column: 1 / 5;
        justify-self: center;
        font-size: 3rem;
        margin: .5rem;
    }
    .main-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-footer .copyright {
        padding: 0;
        text-align: center;
        margin-bottom: .5rem;
    }
    .main-footer .socials img {
        margin-bottom: .5rem;
        right: 1rem;
    }
    .banner-main {
        display: none;
    }
    .banner-mob {
        display: block;
    }
}

/* blog pages */
.blog-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
    padding: 2rem;
}
.title-banner {
    min-height: 250px;
    width: 100%;
    background-size: 100%;
    background-position: 30% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.title-banner .main-title {
    background-color: #01161E;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2.5rem;
}
.open-para {
    width: 80%;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin: 5rem auto;
}
.blog-wrapper h2 {
    text-align: center;
    font-size: 2rem;
    margin: 5rem 0 2.5rem;
}
.blog-wrapper img {
    width: 40%;
    border: 2px solid #EFF6E0;
    border-radius: 20px;
    opacity: .8;
    margin: 3rem;
}
.blog-wrapper .img-left {
    float: left;
}
.blog-wrapper .img-right {
    float: right;
}
.blog-wrapper video {
    width: 50%;
    border: 2px solid #EFF6E0;
    border-radius: 20px;
    margin: 3rem;
}
.blog-wrapper .vid-left {
    float: left;
}
.blog-wrapper .vid-right {
    float: right;
}
.blog-wrapper p {
    margin: 2.5rem auto;
    line-height: 2.2rem;
}
@media (max-width: 700px) {
    .blog-wrapper img {
        width: 100%;
        margin: 2rem auto;
    }
    .blog-wrapper video {
        width: 100%;
        margin: 2rem auto;
    }
    .blog-wrapper .title-banner .main-title {
        font-size: 1.8rem;
        position: relative;
        bottom: 1rem;
    }
    .blog-wrapper h2 {
        font-size: 1.5rem;
        margin: 3rem 0 1.5rem;
    }
}

/* Project Pages */
.project-wrapper .code-button {
    position: relative;
    bottom: 100px;
    font-size: 2rem;
}
.project-wrapper .code-button:hover {
    background-color: #598392;
}